{% load static %}

<div class="row my-5 d-none d-sm-inline">
                <div class="col-md-12">
                    <div id="brnadCarousellg" class="carousel slide" data-ride="carousel" data-interval="2000".>

                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/on.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/quamtrax.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/vitobest.jpg' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/muscletech.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/bsn.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/olimp.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/amix.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'images/logo/bladesport.png' %}" alt="Image" style="width:150px;height:150px;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->

                </div>
            </div>


<div class="row my-5 d-ineline d-sm-none">
      <div class="col-sm-12">
        <div id="brnadCarousellg" class="carousel slide"  data-ride="carousel" data-interval="1500">
          <div class="carousel-inner carousel-responsive" role="listbox">
            <div class="carousel-item active">
              <a href="#">
                 <img src="{% static 'images/logo/on.png' %}" alt="Image" style="width:150px;height:150px;">
             </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/bsn.png' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/quamtrax.png' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/olimp.png' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/muscletech.png' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/vitobest.jpg' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/amix.png' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <img src="{% static 'images/logo/bladesport.png' %}" alt="Image" style="width:150px;height:150px;">
              </a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    
</div>