{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
{% if messages %}
{% endif %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1 my-3">
        <div id="carouselIndicators" class="carousel slide carousel-fade"  data-ride="carousel" data-interval="5000">
          <div class="carousel-inner carousel-responsive" role="listbox">
            <div class="carousel-item active">
             <a href="https://fitnessalgeria.com/ar/products/collection/promo-9//"> <img class="d-block w-100" src="{% static 'images/b4.jpg' %}"  alt="First slide"></a>
            </div>
            <div class="carousel-item">
              <a href="https://fitnessalgeria.com/ar/products/collection/promo-9/"><img class="d-block w-100" src="{% static 'images/b5.jpg' %}"  alt="Second slide"></a>
            </div>
             <!-- <div class="carousel-item">
              <a href=""> <img class="d-block w-100" src="{% static 'images/b3.jpg' %}"  alt="Second slide"></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    
    {% include "product/_brands.html" %}

    {% if products_promo %}
    <div class="home__featured">
        <h2 class="text-center">{% trans "Promo"  %}</h2>
        <div class="row">
           {% include "product/mass_items.html" %}
           <a href="{% url 'product:collection' slug='promo' pk=9  %}" class="btn btn-block btn-outline-primary py-3">{% trans "view more" %}</a>
        </div>
    </div>
    {% endif %}
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
