{% extends "checkout/details.html" %}
{% load static %}
{% load i18n %}
{% load placeholder %}

{% block title %}{% trans "Login" context "Checkout login page title" %} — {{ block.super }}{% endblock %}

{% block content %}
{% url "checkout:start" as checkout_url %}
  <div class="row checkout__login">
    <div class="col-12 col-md-6">
      <div class="checkout__login__continue">
        {% include "account/partials/signup_form.html" with REDIRECT_FIELD_VALUE=checkout_url form=signup_form %}
      </div>
    </div>
    <div class="col-12 col-md-6 checkout__login__form">
      
      <h3>{% trans "Existing customer? Log in." context "Checkout login form title" %}</h3>
      {% include "account/partials/login_form.html" with REDIRECT_FIELD_VALUE=checkout_url %}
    </div>
  </div>
{% endblock %}
